.fruitInfo{
    text-align: center;
    background-color: hsl(184, 33%, 47%);
    margin-left: 20px;
    margin-right: 20px;
}
.nameFruit{
    text-align: center;
    background-color: #9b9791;
    margin-left:40px;
    margin-right: 40px;
    

}